#container {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%
}
.center {
 width:100%;
 top:1em!important;
 position:absolute
}
.child {
 margin:0;
 position:absolute;
 top:50%;
 left:50%;
 margin-right:-50%;
 transform:translate(-50%,-50%)
}
#mobilepop {
 display:block;
 z-index:1
}
.center-bt {
 width:100%;
 top:1.5em!important;
 position:absolute
}
#status {
 position:absolute;
 top:2.5em;
 width:100%;
 text-align:center;
 font-size:1em;
 font-weight:700;
 z-index:1;
 color:#2f4f4f
}
#statusgroup {
 position:absolute;
 top:2.5em;
 width:100%;
 text-align:center;
 font-size:1em;
 font-weight:700;
 z-index:1;
 color:#2f4f4f
}
input[type=file] {
 display:none
}
.custom-file-upload {
 border:1px solid #ccc;
 display:inline-block;
 padding:6px 12px;
 cursor:pointer
}
